/* Basic styling for navbar */
.navbar {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Make sure it stays on top */

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      color: #e50914;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }

    /* Social buttons container */
    .social-buttons {
      display: flex;
      align-items: center;

      /* Telegram button and icon styling */
      .telegram-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        transition: background-color 0.3s ease;

        .telegram-icon {
          width: 36px;
          height: 36px;

          @media (max-width: 767px) {
            width: 30px;
            height: 30px;
          }
        }

        &:hover .telegram-icon {
          filter: brightness(0.85); /* Slight darkening on hover */
        }
      }

      /* Facebook icon styling */
      .facebook-button {
        display: flex;
        justify-content: center;
        align-items: center;

        .facebook-icon {
          width: 36px;
          height: 36px;
          transition: background-color 0.3s ease;

          @media (max-width: 767px) {
            width: 30px;
            height: 30px;
          }
        }

        &:hover .facebook-icon {
          filter: brightness(0.85); /* Slight darkening on hover */
        }
      }
    }
  }
}
